{% extends "main/main2.html" %}
{% load crispy_forms_tags %}
{% block content %}
	{% block pageTitle %}{% include "mainComponents/title.html" %}{% endblock pageTitle %}
    <div class='row justify-content-center'>
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class='form-group mb-3'>
                    {{ u_form|crispy }}
                    {{ private|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <button class='btn btn-outline-info' type="submit">Submit changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
