.daybar .buttons {
  margin-right: 10px;
  margin-bottom: 5px;
}
.daybar .items {
  color: #cbd5db;
  text-decoration: none;
  padding: 10px;
  padding-left: 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.daybar .items:hover {
  color: #ffffff;
}
.daybar .items.active {
  font-weight: 500;
}
