{% extends "main/main2.html" %}
{% block content %}
    <div class="row">
        <div class="w-100" style="background: red;background: linear-gradient(to bottom, #fff 0%, #dfdfdf 100%);">
            <div class="text-center m-auto col-12 col-sm-12 col-md-10 col-lg-7 col-xl-6">
                <img class="img-fluid mb-4" src="/Media/logo-black.png" alt="" style="height: 150px;">
                <h1 style="font-size: 100px; font-weight:100;">Finite</h1>
                <h3 class="mb-5 pb-3 mt-3" style="font-weight:150;">“Your time is Finite. Use it wisely!”</h3>

            </div>
        </div>
        <div class="w-100"></div>
        <div class="pt-5 text-center m-auto col-12" style="background-image: url('/Media/dotsAndLines.png'); background-size: contain;">
            <h1 class="mb-5" style="font-weight:80;">A modern solution to a big problem.</h1>
            <h5 style="line-height: 15pt; color: #aaa; font-weight:300;">Find common skip lessons and plan your freetime during school.</h5>
            <h5 style="line-height: 15pt; color: #aaa; font-weight:300;">Finite is used for finding skip lessons, as well as ordinary lessons, among your friends
                <br>so that you always have someone to spend your time with. </h5>
            <h4 style="line-height: 25px; color: #929292; font-weight:300;" class="mt-5">“Lukiolaisilta, lukiolaisille”</h4>
            <h4 style="line-height: 25px; color: #929292; font-weight:300;" class="mt-2 front-text">“Av gymnasieelever,<br> för gymnasieelever”</h4>
            <h4 style="line-height: 25px; color: #929292; font-weight:300;" class="mt-2 front-text">“By highschool students,<br> for highschool students”</h4>
            <div class="w-100"></div>
            <img class="img-fluid mt-5" src="/Media/frontguid.png" alt="">
        </div>
    </div>
{% endblock %}
