{% extends "main/main.html" %}
{% block content %}
    <h1>“Since your time is Finite, use it wisely!”</h1>
    <p>
        This site is used for finding skip lessons among your friends, 
        so that you always have someone to spend your time with. 
        By using our service you will easily be able to find time to hang out with friends throughout the school day. 
        All you have to do is register an account, input your wilma link, that can be found in the tab “profile” after you log in. 
        <br/>
        This site is designed to be used with the link that the Finnish electronic Wilma-tool can create for you.
        <br/>
        Modern solution for a big problem
        <br/>
        <div class="text-muted">
            If you have any questions or have any problems please contact us at finite.fi@gmail.com
        </div>

    </p>
    <img class="mt-2 img-fluid" src="https://www.finite.fi/Media/frontguid.png" alt="Guide">

{% endblock %}